/* Background.module.css - Estilos para el video de fondo */

.introVideoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;}

.gameBackgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.7;
  filter: brightness(0.6) contrast(1.2);
  z-index: -1;
}