/* Menu styles */
.Contenedor{
  background: url(../../../assets/1942/MenuBackground.webp);
  @supports (background-image: url()) and (format: avif) {
    background-image: url('../../../assets/1942/MenuBackground.avif');
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
}

.gameMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.226);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  perspective: 1000px;
}
.GokuMenu{
  width: 45vw;
  height: 100%;
  background: url(../../../assets/1942/GokuMenu.webp) center / cover no-repeat;
  @supports (background-image: url()) and (format: avif) {
    background-image: url('../../../assets/1942/GokuMenu.avif');
  }
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  z-index: 3;
  will-change: transform, filter;
  transform: translateZ(0) translateX(100vw); /* truco para forzar capa GPU */
  animation: 
  /* auraGlowBardock 1s infinite linear, */
  BardockMove 0.2s infinite linear,
  appearRight 2s forwards;
}
.menuContainer {
  text-align: center;
  width: max-content;
  height: 100%;
  width: 100vw;
  border-radius: 15px;
  align-items: end;
  justify-content: end;
  perspective: 1000px;
}
.Titles{
  transform-style: preserve-3d;
    transform: rotateY(20deg);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
  width: 70%;
  position: absolute;
}
.gameTitle {
  text-align: end;
  width: 100%;
  font-size: 14vw;
  font-weight: bolder;
  color: rgba(255, 0, 85, 0.795);
  line-height: 5vw;
  font-family: "Press Start 2P", system-ui;
    font-weight: bolder;
    letter-spacing: -1vw;
  display: grid;
  flex-direction: column;
  gap: 7vw;
  opacity: 0;
  cursor: default;
 will-change: transform, filter;
  transform: translateZ(0) translateX(100vw); /* truco para forzar capa GPU */
  animation: appearRight 2s forwards 0.2s;
}
.gameSubtitle {
  font-size: 1.3rem;
  color: #ffd700;
  font-family: "Press Start 2P", system-ui;
  width: fit-content;
  align-self:self-end;
  line-height: 4vw;
  cursor: default;
  width: 100%;
  opacity: 0;
 will-change: transform, filter;
  transform: translateZ(0) translateX(100vw); /* truco para forzar capa GPU */
  animation: appearRight 2s forwards 0.4s;
}

.menuOptions {
  display: flex;
  flex-direction: column;
  margin-bottom: 4vw;
  position: absolute;
  bottom: 4vw;
  width: 30%;
  height: 30%;
  left: 17%;
  align-self: center;
  justify-content: space-around;
  z-index: 20;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.5vw 2vw;
  font-size: 1.5vw;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.479);
  color: white;
  border-radius: 10vw;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid var(--buttonborder);
  z-index: 10;
  backdrop-filter: blur(6px);
  flex-direction: row;
  white-space: nowrap;
}
.menuButton:hover {
  color: var(--text);
  transform: translateY(-3px);
  border-color: var(--text);
  box-shadow: 0 0 20px var(--ki), inset 0 0 30px var(--ki);
}

.menuButton:active {
  transform: translateY(-1px);
}

.menuControls {
  position: absolute;
  justify-self: center;
  z-index: 10;
  bottom: 1vw;
  font-size: 1vw;
  color: var(--text);
  text-shadow: 0 2px 5px black;
  line-height: 0;
  z-index: 20;
  width: 100%;;
  cursor: default;
}

.menuControls p:first-child {
  font-weight: bold;
  color: #ffd700;
  z-index: 20;
  margin-left: -1.5vw;
}
.menuButton:hover .playersIcon{
    filter: drop-shadow(0 0 4px white);
}
.playersIcon{
    width: 3em;
    height: 3em;
    filter: drop-shadow(0 0 4px black);
    transition: 0.3s ease-in-out;
}
.player2Icon{
  background: url(../../../assets/Player2Coop.png) center / 140% no-repeat;
  @supports (background-image: url()) and (format: avif) {
    background-image: url('../../../assets/Player2Coop.avif');
  }
}
.player1Icon{
  background: url(../../../assets/Player1.png) center / 140% no-repeat;
  @supports (background-image: url()) and (format: avif) {
    background-image: url('../../../assets/Player1.avif');
  }
}
@keyframes auraGlowBardock {
  0% {
    filter: drop-shadow(0.5vw -0.3vw 0.8vw rgba(245,221,63,0.35))
            drop-shadow(-0.4vw -1vw 2vw rgba(255,102,204,0.25))
            drop-shadow(0.2vw -0.7vw 3vw rgba(255,214,163,0.2))
            drop-shadow(-0.6vw -0.5vw 1.2vw rgba(102,255,204,0.15))
            drop-shadow(0.7vw -0.8vw 2.5vw rgba(153,102,255,0.15))
            drop-shadow(-0.5vw -0.9vw 3vw rgba(255,153,204,0.2));
  }
  10% {
    filter: drop-shadow(-0.7vw -0.6vw 1.5vw rgba(255,184,77,0.4))
            drop-shadow(0.6vw -1.3vw 2.8vw rgba(255,102,77,0.3))
            drop-shadow(-0.3vw -0.9vw 3.2vw rgba(255,226,204,0.25))
            drop-shadow(0.8vw -0.6vw 1.3vw rgba(102,255,179,0.2))
            drop-shadow(-0.6vw -0.8vw 2vw rgba(255,179,102,0.15))
            drop-shadow(0.5vw -1vw 2.7vw rgba(255,229,153,0.2));
  }
  25% {
    filter: drop-shadow(0.8vw -0.4vw 0.9vw rgba(255,153,77,0.3))
            drop-shadow(-0.5vw -1.1vw 2.5vw rgba(255,204,102,0.25))
            drop-shadow(0.4vw -1vw 3.5vw rgba(255,229,179,0.2))
            drop-shadow(-0.7vw -0.8vw 1.5vw rgba(77,255,204,0.15))
            drop-shadow(0.9vw -0.6vw 1.6vw rgba(255,102,153,0.2))
            drop-shadow(-0.4vw -1.2vw 2.8vw rgba(255,235,214,0.15));
  }
  40% {
    filter: drop-shadow(-0.6vw -0.5vw 1.3vw rgba(226,173,93,0.35))
            drop-shadow(0.7vw -1.2vw 2.6vw rgba(255,193,133,0.25))
            drop-shadow(-0.5vw -1vw 3.8vw rgba(255,128,102,0.2))
            drop-shadow(0.6vw -0.7vw 1.4vw rgba(102,255,204,0.15))
            drop-shadow(-0.8vw -0.9vw 2.2vw rgba(255,153,51,0.2))
            drop-shadow(0.5vw -1vw 3vw rgba(255,102,102,0.15));
  }
  55% {
    filter: drop-shadow(0.9vw -0.3vw 1vw rgba(245,221,63,0.35))
            drop-shadow(-0.6vw -1vw 2.2vw rgba(255,204,102,0.3))
            drop-shadow(0.3vw -0.8vw 3.5vw rgba(255,204,153,0.25))
            drop-shadow(-0.7vw -0.5vw 1.5vw rgba(102,255,204,0.2))
            drop-shadow(0.8vw -0.7vw 1.8vw rgba(255,102,179,0.15))
            drop-shadow(-0.5vw -1vw 3vw rgba(255,229,102,0.2));
  }
  70% {
    filter: drop-shadow(-0.8vw -0.6vw 1.6vw rgba(255,184,77,0.35))
            drop-shadow(0.9vw -1.1vw 2.7vw rgba(255,153,102,0.25))
            drop-shadow(-0.4vw -1vw 3.6vw rgba(255,235,204,0.2))
            drop-shadow(0.7vw -0.8vw 1.5vw rgba(102,255,179,0.15))
            drop-shadow(-0.6vw -0.9vw 2vw rgba(255,204,102,0.15))
            drop-shadow(0.6vw -1vw 2.5vw rgba(255,102,102,0.2));
  }
  85% {
    filter: drop-shadow(0.5vw -0.5vw 1vw rgba(255,193,51,0.3))
            drop-shadow(-0.7vw -1.2vw 2.5vw rgba(255,204,102,0.25))
            drop-shadow(0.6vw -1vw 3.8vw rgba(255,128,128,0.2))
            drop-shadow(-0.5vw -0.7vw 1.4vw rgba(77,255,204,0.15))
            drop-shadow(0.9vw -0.6vw 1.5vw rgba(255,102,77,0.2))
            drop-shadow(-0.6vw -1.1vw 3vw rgba(255,235,214,0.15));
  }
  100% {
    filter: drop-shadow(0.5vw -0.3vw 0.8vw rgba(245,221,63,0.35))
            drop-shadow(-0.4vw -1vw 2vw rgba(255,102,204,0.25))
            drop-shadow(0.2vw -0.7vw 3vw rgba(255,214,163,0.2))
            drop-shadow(-0.6vw -0.5vw 1.2vw rgba(102,255,204,0.15))
            drop-shadow(0.7vw -0.8vw 2.5vw rgba(153,102,255,0.15))
            drop-shadow(-0.5vw -0.9vw 3vw rgba(255,153,204,0.2));
  }
}

@keyframes BardockMove {
  0%, 100%{transform: translateX(-0.1vw) translateY(0.05VW)}
  50%{transform: translateX(0) translateY(0)}
}
@keyframes appearUp {
  0% {margin-top: -100vw;}
  50% {margin-top: 13vw;}
  100% {margin-top: 12vw;}
}
@keyframes appearRight {
  0% {transform: translateX(100vw); opacity: 0}
  80% {transform: translateX(0vw); opacity: 1;}
  100% {transform: translateX(1vw); opacity: 1;}
}